.input {
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0.1px 0.1px 0.1rem black;
}

.submit-button {
    width: max-content;
    padding: 0.5rem;
    background-color: green;
    border: none;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 0 0 2px black;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    height: 60%;
    background: #f0f8ff7a;
    padding: 2rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 13rem;
}
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}